<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Home Plants</title>
    <link rel="stylesheet" href="../static/css/style1.css">
    <script src="https://kit.fontawesome.com/37b708b5dd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
    <header>
        <nav class="navbar">
            <a href="home.html">HOME</a>
            <a href="register.html">REGISTER/LOGIN</a>
            <a href="admin.html">PLANTS</a>
            <a href="guide.html">GUIDES</a>
            <a href="#Shop">SHOP</a>
            <a href="#Profile"><i class="fa-solid fa-user"></i></a>
        </nav>
    </header>
    <!-- <img src="/static/images/homeimg.png" alt="House Plants" width="900px" height="625px"> -->
    <h2><i class="fa-sharp fa-solid fa-leaf"></i>HOUSE PLANTS</h2><br><br><br><br><br>
    <h1>HOUSE</h1>
    <h1>PLANTS</h1>
    <h1>CARE GUIDE</h1>
    <p>Knowing how much you guys love plants too.</p>
    <p>we decide to put together a plant guide. something for you.</p>
    <a href="#Read More" class="read">READ MORE</a><br>
    <h3>{{msg}}</h3>
    </div>
</body>
</html>