<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Home Plants</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="box">
        <div class="regform">
            <img class="img" src="../static/images/image1.png" alt="Home Plants" width="400px" height="500px">
            <br>
            <h1>WELCOME!</h1>
            <h3>Create an Account</h3>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="UserName" class="textinput" required><br>
                <input type="email" name="email" placeholder="Email-address" class="textinput" required><br>
                <input type="password" name="password" placeholder="********" class="textinput" required><br>
                <input type="submit" name="register" value="Register" class="Regbut">
            </form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="#Forget Password" class="forget">Forget Password</a><br>
            <p>Already have an account?<a href="login.html">Login here</a></p>
            <h3>{{msg}}</h3>
        </div>
    </div>
</body>
</html>